@import url("https://fonts.google.com/specimen/Space+Mono?query=mono");
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  font-family: "Space Mono", monospace;
  background-color: #ed6b5b;
}
